* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #map {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}

#center-btn, #dark-mode-toggle {
  position: absolute;
  bottom: 80px;
  right: 10px;
  z-index: 1000;
  background: white;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  border: 1px solid #aaa;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

#dark-mode-toggle {
  bottom: 130px;
}
